body{
  text-align: center;
  background-color: rgb(46, 134, 171);
  color: rgb(132, 220, 207 );
}

#header{
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 96.7%;
  border-style: groove;
  border-width: 5px;
  border-color: rgb(216, 140, 154);
  background-color: rgb(138, 43, 226);
}

#container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#container img{
  max-width: 90%;
  max-height: 200px;
}

.albums{
  background-color: rgb(21, 31, 59);
  height: 500px;
  border-style: groove;
  border-color: rgb(216, 140, 154);
  border-width: 5px;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}

#shPage{
  background-color: rgb(21, 31, 59);
  border-style: groove;
  border-color: rgb(216, 140, 154);
  border-width: 5px;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  height: 650px;
}

#shPage img{
  max-width: 80%;
  max-height: 300px;
}